html,body{
     height:100%;
}

.wrapper{
    width: 100%;
    position: relative;
    height:auto !important; /*IE6対策*/
    height: 100%; /*IE6対策*/
    min-height: 100%;
}

.container{
    width: 768px;
    padding-bottom: 180px;
    margin: 0 auto;
}

.sec-header{
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 15px;
    border-bottom: 5px solid #EEEEEE;
}

.sec-main{
}

.sec-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 180px;
    background-color: #444444;
    color: #FFFFFF;
}

/* = mod-logo
--------------------------*/
.mod-logo{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 28px;
    color: #333333;
}

/* = mod-coding
--------------------------*/
.mod-coding{
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #BEBEBE;
    border-radius: .5em;
    background-color: #EEEEEE;
    position: relative;
}

.mod-coding .caption a{
    font-size: 1.1em;
    text-decoration: none;
    color: #0769AD;
}

.mod-coding .summary{
    margin-top: 15px;
    font-size: .9em;
    color: #333333;
}

.mod-coding .summary p{
    line-height: 1.5em;
}

.mod-coding .summary p a{
    color: #0769AD;
}

.mod-coding .span{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #dddddd;
    color: #888888;
    border-radius: 5px;
    padding: 5px;
    font-size: .6em;
}

/* = mod-whoami
--------------------------*/
.mod-whoami {
  padding: 30px;
  zoom: 1;
}

.mod-whoami:after {
    content: "";
    display: block;
    clear: both;
}

.mod-whoami .icon{
  float: left;
  position: relative;
  text-align: center;
  overflow: hidden;
  width: 114px; /* total: 120 */
  height: 114px; /* total: 120 */
  background-color: #FFFFFF;
  border-radius: 75px;
  border: 3px solid #555;
}

.mod-whoami .icon img{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -50px;
}

.mod-whoami .description{
  margin-top: 20px;
  margin-left: 20px;
  height: 100px;
  float: left;
}

.mod-whoami .description .account{
  margin: 10px auto 5px auto;
}

.mod-whoami .description .account span{
  display: inline-block;
  padding: 10px 5px auto auto;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  font-size: 1.55em;
  color: #888888;
}

.mod-whoami .description .repos{
  padding: 10px;
  font-size: .85em;
  background-color: #222222;
  border: 1px solid #111111;
  border-radius: .3em;
}
